body {
  text-align: center;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  background: rgb(8,85,203);
  background: linear-gradient(0deg, rgba(8,85,203,1) 13%, rgba(60,120,210,1) 54%, rgba(112,157,223,1) 91%);
}

/* Cart Widget */
.CartWidgetContainer {
  background-color: white;
  height: 50px;
}


/* Item List Container */
.ItemListContainer {
  height: 100vh;
  font-size: 3em;
  background-image: url("https://cloudinary.fifa.com/m/23b719e239ef529a/original/Australia-Portraits-FIFA-World-Cup-Qatar-2022.jpg");
  background-size: cover;
}