* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  background: rgb(134,134,134);
  background: linear-gradient(0deg, rgba(134,134,134,1) 2%, rgba(193,194,196,1) 39%, rgba(245,247,250,1) 100%);
}

footer {
  bottom: 0;
}

a {
  text-decoration: none;
}

.linkButton {
  color: white;
}

/* Cart Widget */
.CartWidgetContainer {
  background-color: white;
  height: 50px;
}


/* Item List Container */
.ItemListContainer {
  /* height: 100vh; */
  font-size: 3em;
}

.categoryTitle {
  color: white;
}

/* Item */
.ItemContainer {
  text-align: left;
  width: 5em;
  height: 11em;
  opacity: .8;
  flex-grow: 5;
  object-fit: cover;
  transition: .3s ease;
}

.ItemContainer:hover {
  width: 6em;
  opacity: 1;
  filter: contrast(105%);
  position: absolute;
}

.ItemContainer p {
  font-size: .5em
}

.ItemCountContainer {
  width: 40em;
  font-size: .5em;
  text-align: center;
}

.ItemCountContainer .counterContainer {
  width: 100%;
} 

.ItemCountContainer .addToCartContainer {
  width: 100%;
}

.ItemCountContainer button {
  width: 25%;
}

.DetailPictureContainer img {
  width: 100%;
}