body {
  text-align: center;
  user-select: none;
  background: rgb(8,85,203);
  background: linear-gradient(0deg, rgba(8,85,203,1) 13%, rgba(60,120,210,1) 54%, rgba(112,157,223,1) 91%);
}

/* Cart Widget */
.CartWidgetContainer {
  width: 50px;
  background-color: white;
}

/* Item List */
.itemListDescription {
  max-width: 50vw;
  font-size: 3em;
}

/* Item */

.ItemContainer {
  margin: 1em;
}

.ItemContainer img {
  width: 100%;
}