* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  

  /* background-image: linear-gradient(to right, #8360c3, #2ebf91); */
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

footer {
  bottom: 0;
}

a {
  text-decoration: none;
}

.linkButton {
  color: white;
}

/* Cart Widget */
.CartWidgetContainer {
  background-color: white;
  height: 50px;
  font-size: 1rem;
}

.CartWidgetContainer img {
  width: 32px;
}

.CartWidgetContainer strong {
  color: black;
  background-color: red;
  border: 3px solid black;
  border-radius: 50%;
  padding: .15em;
  position: absolute;
  top: .2rem;
  left: 8.25rem;
}

.CartEmptyContainer {
  height: 51.4vh;
}

.CartEmptyContainer img {
  width: 200px;
}
/* Item List Container */
.ItemListContainer {
  /* height: 100vh; */
  font-size: 3em;
}

.categoryTitle {
  color: white;
}

/* Item */
.ItemContainer {
  /* text-align: left; */
  /* width: 5em;
  height: 11em; */
  opacity: .8;
  /* flex-grow: 5; */
  /* object-fit: cover; */
  transition: .3s ease;
}

.itemPrice {
  position: absolute;
  left: 15.5rem;
  top: 16rem;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.ItemContainer:hover {
  opacity: 1;
  filter: contrast(100%);
  border: 5px solid black;
}

.ItemContainer p {
  font-size: .5em
}

.ItemCountContainer {
  width: 40em;
  font-size: .5em;
  text-align: center;
}

.ItemCountContainer .counterContainer {
  width: 100%;
} 

.ItemCountContainer .addToCartContainer {
  width: 100%;
}

.ItemCountContainer button {
  width: 25%;
}

.DetailPictureContainer img {
  width: 100%;
}

.PNGsuccess {
  width: 2em;
  height: 2em;
}

.cartItemPictureContainer {
  max-width: 200px;
}

.CartItemRemoveBtn img {
  padding: .1rem;
  width: 50px;
}

.PurchaseCompleteContainer img {
  width: 2.5rem;
}